---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import usg2 from "../img/servicios/usg-segundo.jpg";
import usg3 from "../img/servicio/usg-11/ultrasonido-3.jpg";
import usg4 from "../img/servicio/usg-11/ultrasonido-4.jpg";
import ultrasonido from "../img/servicio/usg-18/ultrasonido-1.jpg";
import img1 from "../img/servicio/usg-18/Imagen1.png";
import img2 from "../img/servicio/usg-18/Imagen2.png";
import img3 from "../img/servicio/usg-18/Imagen3.png";
import img4 from "../img/servicio/usg-18/Imagen4.png";
import img5 from "../img/servicio/usg-18/Imagen5.jpg";
import img6 from "../img/servicio/usg-18/Imagen6.png";
import img7 from "../img/servicio/usg-18/Imagen7.jpg";
import img8 from "../img/servicio/usg-18/Imagen8.png";
import img9 from "../img/servicio/usg-18/Imagen9.png";
import Testimonios from '../components/Testimonios.astro';
---

<Layout title="USG Estructural Segundo Trimestre 18-24 sdg - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='¿En qué me beneficia realizarme este ultrasonido?' 
      punto1='❤ Se realiza la evaluación estructural anatómica del feto de manera detallada, permite identificar que se hayan formado adecuadamente todos los órganos del bebé, permite detectar alteraciones o defectos estructurales.' 
      punto2='❤ Se lleva a cabo la evaluación del riesgo de parto pretérmino a través de la  evaluación ultrasonográfica  vía vaginal de la longitud del cuello uterino.' 
      punto3='❤ Evaluación de la localización placentaria por vía vaginal, ayuda a descartar  placentas de inserción baja o placentas previas  (cuando se insertan a nivel del cuello uterino).' 
      punto4='❤ ¡Conocerás el sexo de tu bebé!'     
      punto5=''
      punto6=''
      infoDesplegable1='Todas las pacientes embarazadas deben realizarse este ultrasonido entre la semana 18-24 de gestación y solo deberá ser realizado por un médico especializado y altamente capacitado, como un médico materno fetal.'
      infoDesplegable2='Importante'
      img={usg2}
      />
      <Testimonios
        img1={img1}
        img2={img2}
        img3={img3}
        img4={img4}
        img5={img5}
        >
        <button slot="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button slot="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button slot="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button slot="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <div slot="item" class="carousel-item">
          <img src={img6} class="d-block w-100" alt="...">
        </div>
        <div slot="item" class="carousel-item">
          <img src={img7} class="d-block w-100" alt="...">
        </div>
        <div slot="item" class="carousel-item">
          <img src={img8} class="d-block w-100" alt="...">
        </div>
        <div slot="item" class="carousel-item">
          <img src={img9} class="d-block w-100" alt="...">
        </div>
      </Testimonios>
        
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>