---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import usg1 from "../img/servicios/usg_11semanas.jpg";
import img1 from "../img/servicio/usg-11/Imagen1.png";
import img2 from "../img/servicio/usg-11/Imagen2.jpg";
import img3 from "../img/servicio/usg-11/Imagen3.jpg";
import img4 from "../img/servicio/usg-11/Imagen4.jpg";
import img5 from "../img/servicio/usg-11/Imagen5.jpg";
import Testimonios from '../components/Testimonios.astro';
import Contacto2 from '../components/Contacto2.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
---

<Layout 
      title="USG de Menos de 11 Semanas - Dra. Janeth Adriana García Cid"
      description='Evalúa el riesgo o probabilidad individual de alteraciones cromosómicas  del feto (la más común síndrome de Down) a través de la evaluación de marcadores ecográficos  en el feto: hueso nasal, translucencia nucal (líquido en la nuca), ductus venoso, regurgitación tricuspídea.'>
	<main id="inicio">
    <ViewTransitions />
		<NavbarMovil/>
    <Servicio 
      title='¿Por qué es importante  realizar este ultrasonido?' 
      punto1='❤ Determina la edad gestacional del feto de manera confiable.' 
      punto2='❤ Evalúa el riesgo o probabilidad individual de alteraciones cromosómicas  del feto (la más común síndrome de Down) a través de la evaluación de marcadores ecográficos  en el feto: hueso nasal, translucencia nucal (líquido en la nuca), ductus venoso, regurgitación tricuspídea.' 
      punto3='❤ Evalúa el riesgo de cada paciente de desarrollar preeclampsia a traves de factores de riesgo materno  + evaluación ultrasonográfica de las arterias uterinas.' 
      punto4='❤ Evalúa el riesgo de restricción de crecimiento fetal (cuando el bebé no crece lo adecuado o lo esperado a su edad gestacional).' 
      punto5='❤ Evalua el riesgo de parto pretérmino a través de factores de riesgo materno  + evaluación ultrasonográfica del cérvix (cuello del útero).' 
      punto6='❤ Permite una revisión estructural detallada  del feto, siendo posible la detección de algunas alteraciones estructurales de forma temprana.'
      infoDesplegable1='Todas las pacientes embarazadas deben realizarse este ultrasonido entre la semana 11- 13.6 de gestación, y solo deberá ser realizado por un médico especializado y altamente capacitado, como un médico materno fetal. ' 
      img={usg1}
      infoDesplegable2='Importante'
    />
    <Testimonios 
      img1={img1}
      img2={img2}
      img3={img3}
      img4={img4}
      img5={img5}
    />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>