---
import instalacion1 from '../img/instalacion-2.jpg';
import instalacion2 from "../img/instalacion-3.jpg";
import instalacion3 from "../img/instalacion-4.jpg";
import instalacion4 from "../img/instalacion-5.jpg";
import instalacion5 from "../img/instalacion-6.jpg";
import instalacion6 from "../img/instalacion.jpg";
---
<div class="title">
  <h2>CONOCE NUESTRAS INSTALACIONES</h2>
  <hr class="subrayado">
  <p>Contamos con las mejores instalaciones y la más moderna tecnología, llevando a cabo una evaluación individual de cada paciente con el objetivo de conocer el riesgo o probabilidad de que el bebé presente alguna alteración.
    <br>Todo para brindarte la mejor atención y acompañarte en cada momento de esta hermosa etapa.
    </p>
</div>
<section class="instalaciones">
  <div class="container-grid">
    <div class="item-galeria item-1">
      <img src={instalacion1} alt="">
    </div>
    <div class="item-galeria item-2">
      <img src={instalacion6} alt="">
    </div>
    <div class="item-galeria item-3">
      <img src={instalacion2} alt="">
    </div>
    <div class="item-galeria item-4">
      <img src={instalacion3} alt="">
    </div>
    <div class="item-galeria item-5">
      <img src={instalacion4} alt="">
    </div>
    <div class="item-galeria item-6">
      <img src={instalacion5} alt="">
    </div>
  </div>
</section>

<!--Estilos -->
<style>
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
  }
  .title h2 {
    color: var(--morado-title);
    text-align: center;
  }
  .title p {
    padding: 10px 6%;
    text-align: justify;
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: blueviolet;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .instalaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 6%;
  }
  .instalaciones .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .instalaciones .container-grid .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .instalaciones .container-grid .item-6 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .instalaciones .container-grid .item-galeria img {
    width: 100%;        /*Estilos normales de la imagen*/
    margin: 15px 0 15px 0;
    border-radius: 40px;
    height: -webkit-fill-available;

    view-timeline-name: --image;       /* Este es el nombre enlazado al scroll para revisar si se mueve*/
    view-timeline-axis: block;        /* este dice que eje va a mirar block (vertical) o inline(horizontal)*/
    animation-timeline: --image;      /* Enlace entre el scroll y el elemento con el nomnbre del timeline */
    animation-name: show;             /* NOmbre de la animacion que vamos a usar */
    animation-range: entry 25% cover 45%; /* usamos esta para cambiar el rango de cuando debe empezar la animación (entry) y que termine la animacion cuando le indiquemos (cover) */
    animation-fill-mode: both;         /* Se utiliza para decir que la animacion se haga en los dos sentidos, modo en el que debe de rellenar */
  }
  @keyframes show {   /*Animacion de la imagen primero es transparente al25}% del tamaño y va creciendo */
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
    
  }
  @media (min-width: 768px) {
    .instalaciones .container-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .instalaciones .container-grid .item-galeria img {
      height: -webkit-fill-available;
    }
    .instalaciones .container-grid .item-1 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .instalaciones .container-grid .item-2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .instalaciones .container-grid .item-3 {
      
    }
    .instalaciones .container-grid .item-4 {
      
    }
    .instalaciones .container-grid .item-5 {
      
    }
    .instalaciones .container-grid .item-6 {
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .title p {
      font-size: 1.1em;
    }
  }
</style>